<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div id="navbar"></div>
  <div class="center-content page-container">

    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
      <canvas id="overlay" />
    </div>

    <!-- @rica { -->
    <div style="position:fixed; left:1100px; top:100px; width:800px; height:550px; border:1px solid red" id='CartoonFaceBackground'>
      <img src='face/face.png' style='position:absolute;'>
      <img src='face/eyebrow1.png' id='eyebrow1' style='position:absolute; left:70px; top:170px; z-index:1;'>
      <img src='face/eyebrow2.png' id='eyebrow2' style='position:absolute; left:275px; top:173px; z-index:1;'>
      <img src='face/mouth1.png' id='mouth1' style='position:absolute; left:185px; top:430px; z-index:1;'>
      <img src='face/mouth2.png' id='mouth2' style='position:absolute; left:155px; top:410px; z-index:2;'>
      <img src='face/mouth3.png' id='mouth3' style='position:absolute; left:185px; top:410px; z-index:3;'>
      <img src='face/mouth4.png' id='mouth4' style='position:absolute; left:205px; top:395px; z-index:4;'>
      <img src='face/mouth5.png' id='mouth5' style='position:absolute; left:155px; top:410px; z-index:5;'>
    </div>
    <!-- @rica } -->

    <div class="row side-by-side">

      <!-- face_detector_selection_control -->
      <div id="face_detector_selection_control" class="row input-field" style="margin-right: 20px;">
        <select id="selectFaceDetector">
          <option value="ssd_mobilenetv1">SSD Mobilenet V1</option>
          <option value="tiny_face_detector">Tiny Face Detector</option>
          <option value="mtcnn">MTCNN</option>
        </select>
        <label>Select Face Detector</label>
      </div>
      <!-- face_detector_selection_control -->

      <!-- check boxes -->
      <div class="row" style="width: 220px;">
        <input type="checkbox" id="hideBoundingBoxesCheckbox" onchange="onChangeHideBoundingBoxes(event)" />
        <label for="hideBoundingBoxesCheckbox">Hide Bounding Boxes</label>
      </div>
      <!-- check boxes -->

      <!-- fps_meter -->
      <div id="fps_meter" class="row side-by-side">
        <div>
          <label for="time">Time:</label>
          <input disabled value="-" id="time" type="text" class="bold">
          <label for="fps">Estimated Fps:</label>
          <input disabled value="-" id="fps" type="text" class="bold">
        </div>
      </div>
      <!-- fps_meter -->

    </div>


    <!-- ssd_mobilenetv1_controls -->
    <span id="ssd_mobilenetv1_controls">
      <div class="row side-by-side">
        <div class="row">
          <label for="minConfidence">Min Confidence:</label>
          <input disabled value="0.5" id="minConfidence" type="text" class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseMinConfidence()"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseMinConfidence()"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
    <!-- ssd_mobilenetv1_controls -->

    <!-- tiny_face_detector_controls -->
    <span id="tiny_face_detector_controls">
      <div class="row side-by-side">
        <div class="row input-field" style="margin-right: 20px;">
          <select id="inputSize">
            <option value="" disabled selected>Input Size:</option>
            <option value="128">128 x 128</option>
            <option value="160">160 x 160</option>
            <option value="224">224 x 224</option>
            <option value="320">320 x 320</option>
            <option value="416">416 x 416</option>
            <option value="512">512 x 512</option>
            <option value="608">608 x 608</option>
          </select>
          <label>Input Size</label>
        </div>
        <div class="row">
          <label for="scoreThreshold">Score Threshold:</label>
          <input disabled value="0.5" id="scoreThreshold" type="text" class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseScoreThreshold()"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseScoreThreshold()"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
    <!-- tiny_face_detector_controls -->

    <!-- mtcnn_controls -->
    <span id="mtcnn_controls">
      <div class="row side-by-side">
        <div class="row">
          <label for="minFaceSize">Minimum Face Size:</label>
          <input disabled value="20" id="minFaceSize" type="text" class="bold">
        </div>
        <button
          class="waves-effect waves-light btn"
          onclick="onDecreaseMinFaceSize()"
        >
          <i class="material-icons left">-</i>
        </button>
        <button
          class="waves-effect waves-light btn"
          onclick="onIncreaseMinFaceSize()"
        >
          <i class="material-icons left">+</i>
        </button>
      </div>
    </span>
    <!-- mtcnn_controls -->

  </body>

  <script>
    let forwardTimes = []
    let withBoxes = true
    // @rica {
    let cartoonFaceBackground = $('#CartoonFaceBackground');
    let numberNodes = []
    for (let i = 0; i < 68; ++i)
    {
      let node = $(`<div style='position:absolute; top:0px; left:0px'>${i}</div>`)
      numberNodes.push(node);
      cartoonFaceBackground.append(node);
    }

    let eyebrows = [ 'ZERO', $('#eyebrow1'), $('#eyebrow2') ];
    let mouths = [ 'ZERO', $('#mouth1'), $('#mouth2'), $('#mouth3'), $('#mouth4'), $('#mouth5') ];
    let eyebrowsDefaultY = [ 'ZERO', 230, 233 ];
    let lastEyebrowsHeight = null;
    // @rica }

    function onChangeHideBoundingBoxes(e) {
      withBoxes = !$(e.target).prop('checked')
    }

    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      $('#time').val(`${Math.round(avgTimeInMs)} ms`)
      $('#fps').val(`${faceapi.round(1000 / avgTimeInMs)}`)
    }

    async function onPlay() {
      const videoEl = $('#inputVideo').get(0)

      if(videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
        return setTimeout(() => onPlay())


      const options = getFaceDetectorOptions()

      const ts = Date.now()

      const result = await faceapi.detectSingleFace(videoEl, options).withFaceLandmarks()

      updateTimeStats(Date.now() - ts)

      if (result) {
        const canvas = $('#overlay').get(0)
        const dims = faceapi.matchDimensions(canvas, videoEl, true)
        const resizedResult = faceapi.resizeResults(result, dims)

        if (withBoxes) {
          faceapi.draw.drawDetections(canvas, resizedResult)
        }
        faceapi.draw.drawFaceLandmarks(canvas, resizedResult)
        
        // @rica {
        let P = resizedResult.landmarks.positions;

        for (let i = 0; i < 68; ++i)
        {
          let p = P[i];
          let node = numberNodes[i];
          node.css('top', `${p.y}px`);
          node.css('left', `${p.x * 3}px`);
        }

        let idx_NoseBottom = 33;

        let idx_LipUp = 62;
        let idx_LipDown = 66;
        let idx_LipLeft = 48;
        let idx_LipRight = 54;

        let idx_LeftEye = 39;
        let idx_LeftEyebrow = 21;
        let idx_RightEye = 42;
        let idx_RightEyebrow = 22;

        let faceSizeBase = (-P[idx_LeftEye].y + P[idx_NoseBottom].y) + (-P[idx_RightEye].y + P[idx_NoseBottom].y)

        let mouthHeight = (P[idx_LipDown].y - P[idx_LipUp].y) / faceSizeBase;
        let mouthWidth = (P[idx_LipRight].x - P[idx_LipLeft].x) / faceSizeBase;

        // 눈썹
        let EYEBROW_HEIGHT = 300;
        let EYEBROW_ROTATE = 120;
        let leftEyebrowHeight = (P[idx_LeftEye].y - P[idx_LeftEyebrow].y) / faceSizeBase;
        let rightEyebrowHeight = (P[idx_RightEye].y - P[idx_RightEyebrow].y) / faceSizeBase;

        if (lastEyebrowsHeight === null)
        {
          lastEyebrowsHeight = [ 'ZERO', leftEyebrowHeight, rightEyebrowHeight ];
        }
        else
        {
          leftEyebrowHeight = leftEyebrowHeight * 0.4 + lastEyebrowsHeight[1] * 0.6;
          rightEyebrowHeight = rightEyebrowHeight * 0.4 + lastEyebrowsHeight[2] * 0.6;
          lastEyebrowsHeight[1] = leftEyebrowHeight;
          lastEyebrowsHeight[2] = rightEyebrowHeight;
        }

        console.log(leftEyebrowHeight, rightEyebrowHeight)
        eyebrows[1].css('top', `${eyebrowsDefaultY[1] - leftEyebrowHeight * EYEBROW_HEIGHT}px`);
        eyebrows[2].css('top', `${eyebrowsDefaultY[2] - rightEyebrowHeight * EYEBROW_HEIGHT}px`);
        eyebrows[1].css('transform', `rotate(${30-leftEyebrowHeight * EYEBROW_ROTATE}deg)`);
        eyebrows[2].css('transform', `rotate(${-30+rightEyebrowHeight * EYEBROW_ROTATE}deg)`);

        // 입
        let activeMouth;
        if (mouthHeight < 0.03) // 다뭄
        {
          activeMouth = (mouthWidth > 0.55) ? 2 : 1;
        }
        else if (mouthHeight < 0.20) // 살짝벌림
        {
          activeMouth = (mouthWidth > 0.55) ? 5 : 3;
        }
        else // 크게벌림
        {
          activeMouth = 4;
        }
        for (let i = 1; i <= 5; ++i)
        {
          if (i == activeMouth)
            mouths[i].show();
          else
            mouths[i].hide();
        }

        // @rica }
      }

      setTimeout(() => onPlay())
    }

    async function run() {
      // load face detection and face landmark models
      await changeFaceDetector(TINY_FACE_DETECTOR)
      await faceapi.loadFaceLandmarkModel('/')
      changeInputSize(224)

      // try to access users webcam and stream the images
      // to the video element
      const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
      const videoEl = $('#inputVideo').get(0)
      videoEl.srcObject = stream
    }

    function updateResults() {}

    $(document).ready(function() {
      renderNavBar('#navbar', 'webcam_face_landmark_detection')
      initFaceDetectionControls()
      run()
    })
  </script>
</body>
</html>